.header {
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #333;
}

.header span {
  color: #c4302b;
}

.input-youtube-id-box {
  padding: 10px;
}

.input-youtube-id {
  width: 100%;
  height: 2.3rem;
  border: solid 2px #c4302b;
  font-size: 1.2rem;
}

.input-youtube-id::placeholder {
  font-size: 1.2rem;
}

.play-button-box {
  width: 100%;
  text-align: center;
}

.play-button {
  border: solid 1px #c4302b;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0);
  font-size: 1.4rem;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}

.input-youtube-id-box p {
  color: #555;
  margin: 0;
}

.song-work {
  width: 100%;
  display: flex;
}

.now-play-song-box {
  position: relative;
  opacity: 0;
  width: 50%;
  right: 500px;
  transition: all 1s;
}

.now-play-song-box-fade {
  opacity: 1;
  right: 0;
}

.song-list-box {
  position: relative;
  width: 50%;
}

.song-list-box h2 {
  font-size: 1.7em;
  margin: 0;
  margin-bottom: 10px;
  color: #333;
}

.now-play-song-box h2 {
  font-size: 1.7em;
  margin: 0;
  margin-bottom: 10px;
  color: #333;
  display: flex;
  align-items: center;
}

.now-play-song-image img {
  border: solid 1px #ddd;
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}

.now-play-song-title {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.now-play-song-author {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.song-controller {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-top: solid 1px #999;
  background-color: #fff;
}

.song-controller-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.song-controller-time {
  text-align: center;
}

.song-controller-time p {
  margin: 0;
  font-size: .9rem;
  color: #777;
}

.song-list-item-box h3 {
  margin: 0;
  color: #333;
}

.song-list-item-box h4 {
  margin: 0;
  color: #777;
}

.song-list-item-active {
  background: red;
}